<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EFIBluetoothDelay</key>
	<data>
	uAs=
	</data>
	<key>EmuVariableUefiPresent</key>
	<data>
	WWVz
	</data>
	<key>SystemAudioVolume</key>
	<data>
	QQ==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	8A==
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	jYKsBQAAADCSFMjg61PH1g==
	</data>
	<key>bluetoothInternalControllerInfo</key>
	<data>
	jYKsBQAwkhTI4OtTx9Y=
	</data>
	<key>csr-active-config</key>
	<data>
	fwAAAA==
	</data>
	<key>fakesmc-key-#KEY-ui32</key>
	<data>
	AAAAEA==
	</data>
	<key>fakesmc-key-$Adr-ui32</key>
	<data>
	AAADAA==
	</data>
	<key>fakesmc-key-$Num-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BATP-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-BEMB-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-BNum-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-EPCI-ui32</key>
	<data>
	CXDwAA==
	</data>
	<key>fakesmc-key-MSAc-ui16</key>
	<data>
	AAA=
	</data>
	<key>fakesmc-key-MSFW-ui8</key>
	<data>
	AQA=
	</data>
	<key>fakesmc-key-MSPS-ui16</key>
	<data>
	AAM=
	</data>
	<key>fakesmc-key-MSTc-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSWr-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-RBr -ch8*</key>
	<data>
	ajEzM180XwA=
	</data>
	<key>fakesmc-key-REV -ch8*</key>
	<data>
	AkEPAAAB
	</data>
	<key>fakesmc-key-RMde-char</key>
	<data>
	QQ==
	</data>
	<key>fakesmc-key-RPlt-ch8*</key>
	<data>
	ajEzNQAAAAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	TW9ycGhldXM=
	</data>
	<key>nvda_drv</key>
	<data>
	MQA=
	</data>
	<key>security-mode</key>
	<string>none</string>
	<key>specialbootdevice</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAbAQEGAAAAAxcQAAEAAAAAJThZgbSVhwQBKgACAAAAKEAG
	AAAAAAAw6csdAAAAALf5yuktupZCl9SX9tIBGCECAgQDJAD3/HS+fAvzSZFHAfQELmhC
	U3kF2jykYjuxNm2vIbYGXX//BAA=
	</data>
</dict>
</plist>